body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.rec.rec-arrow {
  display: none;
}

.rec .rec-slider-container {
  margin: 0;
}

.rec.rec-swipable {
  gap: 1rem;
}